* {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

img.lado {
    float: right;
}

body {
    background-color: #f4f4f4;
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(3px, 3px, 5px, 0.473);
}